@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

i {
    color: black;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Maiden Orange';
    font-size: 24px;
    box-sizing: border-box;

}

body{
    height: 100vh;
}

svg{
    height: 500px;
    margin: 50px;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

    /* .card {
        padding: 20px 20px;
        position: absolute;
        display: fixed;
        top: 15%;
        right: 10%;
        width: 700px;
        background-color: #51515120;
    } */

    .hide {
        opacity: 0;
        right: 100%;
    }

    .pin {
        transition-duration: 0.5s;
        transform-origin: bottom;
        transform-box:fill-box;
    }
    
    .pin:hover {
        transform: scale(1.5);
    }
        
/* ######## */

.card {
    border-radius: 20px;
    border: 1px solid #121e51;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(0, -50%);
    right: 20%;
    border-radius: 10px;
}

    div.cardHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        h3 {
            margin: 20px 0;
        }

        span {
            margin: 10px 0;
        }

        .choix {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #121e51;
            width: 100%;
        }

        .bouton {
            border: none;
            background-color: #121e51;
            color: #fff;
            padding: 10px 25px;
        }

            .bouton:hover {
                background-color: #ffe800;
                cursor: pointer;
            }

        .open {
            background-color: #003a8a;
        }

        .choix {
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-color: #121e51;
            width: 100%;
        }

        .bouton {
            border: none;
            background-color: #121e51;
            color: #fff;
            padding: 10px 25px;
        }

            .bouton:hover {
                background-color: #ffe800;
                cursor: pointer;
            }

        .open {
            background-color: #003a8a;
        }

    div.cardBody {
        display: flex;
        flex-direction: column;
    }

        .infos {
            display: flex;
            align-items: center;
            margin: 20px 0;
        }
            img {
                margin-right: 20px;
            }

        .booking {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }

            .booking a {
                color: #ffe800;
                text-decoration: none;
                padding: 12px 40px;
                background-color:#003a8a;
                box-shadow: #121e51 5px 5px 0px;
            }