@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

i {
    color: #121e51;
}

a {
    color: #121e51;
    text-decoration: none;
}

    a:hover {
        color: #ffe800;
    }

* {
    padding: 0;
    margin: 0;
    font-family: 'Maiden Orange';
    font-size: 24px;
    box-sizing: border-box;
}

h3 {
    margin: 20px 0 10px 0;
    font-size: 36px;
    color: #121e51;
}

p {
    font-size: 24px;
    color: #121e51;
}

body{
    height: 100vh;
}

svg{
    height: 500px;
    margin: 50px;
}

/* #map {

}

#cards {

} */

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .hide {
        opacity: 0;
        display: none;    
    }

    .pin {
        transition-duration: 0.5s;
        transform-origin: bottom;
        transform-box:fill-box;
    }

    .pin:hover {
        transform: scale(1.5);
        cursor: pointer;
    }
        
/* ######## */

.default {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(0, -50%);
    width: 430px;
}

.card {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(0, -50%);
    right: 20%;
    box-shadow: #121e51 10px 10px 0 0;
    width: 430px;
    background-color: #fff;
}

        div.cardHeader {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffe800;
        }

            .closeCross {
                position: absolute;
                top: 0;
                right: 0;
                margin: 5px 10px;
                background-color: #003a8a;
                box-shadow: #121e51 5px 5px 0 ;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

            }

            .imgCloseCross{
                width: 15px;
            }

            .choix {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: #121e51;
            }

                .bouton {
                    border: none;
                    background-color: #121e51;
                    color: #fff;
                    padding: 10px 25px;
                }

                    .bouton:hover {
                        color: #ffe800;
                        cursor: pointer;
                    }

                .open {
                    background-color: #fff;
                    color: #121e51;
                }

                    .open:hover {
                        background-color: #fff;
                        color: #121e51;
                    }

        div.cardBody {
            display: flex;
            flex-direction: column;
        }

        /* .anneaux {
            top: 100px;
            left: -25px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: absolute;
            border: 5px solid black;
            border-bottom: #fff;
            border-right: #fff;

        } */

            .infos {
                display: flex;
                align-items: center;
                margin: 20px 0 20px 35px;
                
            }
                .infos img {
                    margin-right: 20px;
                }

            .booking {
                display: flex;
                justify-content: center;
                margin: 20px 0;
            }

                .booking a {
                    color: #ffe800;
                    text-decoration: none;
                    padding: 12px 40px;
                    background-color:#003a8a;
                    box-shadow: #121e51 5px 5px 0px;
                }


@media (max-width: 1250px) { 

    body {
        background-color: red;
    }

    svg {
        position: absolute;
        left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);

    }

    .card {
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);
    box-shadow: #121e51 10px 10px 0 0;
    width: 200px;
    background-color: #fff;
    }

    .default {
        position: absolute;
        top: 50%;  
        left: 50%; 
        transform: translate(-50%, -50%);
        width: 200px;
    }

 }
